@page "/"
@page "/en"
@page "/ru"

@using Inc.TeamAssistant.Primitives
@using Inc.TeamAssistant.WebUI.Features.Videos

@inject IRenderContext RenderContext

@inherits PersistentComponent<MainPageViewModel>

<MetaDataModule WebsiteSection="WebsiteSection.Main" />

<MainVideo FileName="source-tree-02" NotSupportedMessage="@ViewModel.NotSupportedMessage" />

<section id="about-bots" class="about-bots">
    <div class="about-bots__container @CssClass">
        <h1 class="about-bots__header">
            <span class="about-bots__item">@ViewModel.Header</span>
            <br/>
            <span class="about-bots__item">@ViewModel.SubHeader</span>
        </h1>
        <br/>
        <p class="about-bots__description">
            <span class="about-bots__item">👌 @ViewModel.ToolAppraiser<br/></span>
            <span class="about-bots__item">🤝 @ViewModel.ToolReviewer<br/></span>
            <span class="about-bots__item">💬 @ViewModel.ToolRandomCoffee</span>
        </p>
        <div class="about-bots__actions">
            <a href="@MoveToConstructor()" class="button button_dark">@ViewModel.CreateBotLink</a>
            <a href="mailto:@(GlobalSettings.RequestDemoEmail)?body=@(ViewModel.RequestDemoBody)&subject=@(ViewModel.RequestDemoSubject)" class="link link_dark about-bots__link">@ViewModel.RequestDemo</a>
        </div>
    </div>
</section>

@code {
    private string MoveToConstructor() => LinkBuilder("constructor");

    private string CssClass => RenderContext.IsBrowser ? "animation__slide-left" : "hidden";
    
    protected override Task<MainPageViewModel> Initialize(Dictionary<string, string> resources)
    {
        var requestDemo = resources[Messages.GUI_RequestDemo];

        return Task.FromResult(new MainPageViewModel(
            requestDemo,
            $"{requestDemo} [TeamAssistant]",
            resources[Messages.GUI_RequestDemoBody],
            resources[Messages.GUI_MainHeader],
            resources[Messages.GUI_MainSubHeader],
            resources[Messages.GUI_ToolAppraiser],
            resources[Messages.GUI_ToolReviewer],
            resources[Messages.GUI_ToolRandomCoffee],
            resources[Messages.GUI_CreateBotLink],
            resources[Messages.GUI_VideoNotSupported]));
    }
}