@page "/"
@page "/en"
@page "/ru"

@inject IRenderContext RenderContext
@inject ResourcesManager Resources

<MetaDataModule />

<MainVideo FileName="source-tree-02" />

<section id="about-bots" class="about-bots">
    <div class="about-bots__container @(RenderContext.IsBrowser ? "animation__slide-left" : "hidden")">
        <h1 class="about-bots__header">
            <span>@Resources[Messages.GUI_MainHeader]</span>
            <br/>
            <span>@Resources[Messages.GUI_MainSubHeader]</span>
        </h1>
        <br/>
        <p class="about-bots__description">
            <span>@Icons.Ok @Resources[Messages.GUI_ToolAppraiser]</span>
            <br/>
            <span>@Icons.Accept @Resources[Messages.GUI_ToolReviewer]</span>
            <br/>
            <span>@Icons.Comment @Resources[Messages.GUI_ToolRandomCoffee]</span>
            <br/>
            <span>@Icons.Start @Resources[Messages.GUI_ToolCheckIn]</span>
        </p>
        <div class="about-bots__actions">
            <Button IsDark="true" Message="Messages.GUI_CreateBotLink" Link="constructor"></Button>
        </div>
    </div>
</section>