@page "/"
@page "/en"
@page "/ru"

@inject IRenderContext RenderContext
@inject IStringLocalizer<MainResources> Localizer
@inject NavRouter NavRouter

<MetaDataModule />

<MainVideo FileName="source-tree-02" />

<section id="about-bots" class="about-bots">
    <div class="about-bots__container @(RenderContext.IsBrowser ? "animation__slide-left" : "hidden")">
        <h1 class="about-bots__header">
            <span>@Localizer["MainHeader"].Value</span>
            <br/>
            <span>@Localizer["MainSubHeader"]</span>
        </h1>
        <br/>
        <p class="about-bots__description">
            <span>@Icons.Ok @Localizer["ToolAppraiser"].Value</span>
            <br/>
            <span>@Icons.Accept @Localizer["ToolReviewer"].Value</span>
            <br/>
            <span>@Icons.Comment @Localizer["ToolRandomCoffee"].Value</span>
            <br/>
            <span>@Icons.Start @Localizer["ToolCheckIn"].Value</span>
        </p>
        <div class="about-bots__actions">
            <Button ComponentStyle="ComponentStyle.Secondary" OnClick="MoveToConstructor">
                <Content>
                    @Localizer["CreateBotLink"].Value
                </Content>
            </Button>
        </div>
    </div>
</section>

@code {
    private Task MoveToConstructor() => NavRouter.MoveToRoute("constructor");
}