@page "/"
@page "/en"
@page "/ru"

@using Inc.TeamAssistant.Primitives

@inject IRenderContext RenderContext
@inject ResourcesManager Resources
@inject NavRouter NavRouter

<MetaDataModule />

<MainVideo FileName="source-tree-02" />

<section id="about-bots" class="about-bots">
    <div class="about-bots__container @(RenderContext.IsBrowser ? "animation__slide-left" : "hidden")">
        <h1 class="about-bots__header">
            <span>@Resources[Messages.GUI_MainHeader]</span>
            <br/>
            <span>@Resources[Messages.GUI_MainSubHeader]</span>
        </h1>
        <br/>
        <p class="about-bots__description">
            <span>@Icons.Ok @Resources[Messages.GUI_ToolAppraiser]</span>
            <br/>
            <span>@Icons.Accept @Resources[Messages.GUI_ToolReviewer]</span>
            <br/>
            <span>@Icons.Comment @Resources[Messages.GUI_ToolRandomCoffee]</span>
            <br/>
            <span>@Icons.Start @Resources[Messages.GUI_ToolCheckIn]</span>
        </p>
        <div class="about-bots__actions">
            <a
                id="@AnalyticEvents.ConstructorOpened"
                href="@NavRouter.CreateRoute("constructor")"
                class="button button_dark">
                @Resources[Messages.GUI_CreateBotLink]
            </a>
        </div>
    </div>
</section>