@page "/"
@page "/en"
@page "/ru"

@using Inc.TeamAssistant.Primitives

@inject IRenderContext RenderContext
@inject ResourcesManager Resources
@inject LinkBuilder LinkBuilder

<MetaDataModule WebsiteSection="WebsiteSection.Main" />

<MainVideo FileName="source-tree-02" NotSupportedMessage="@Resources[Messages.GUI_VideoNotSupported]" />

<section id="about-bots" class="about-bots">
    <div class="about-bots__container @(RenderContext.IsBrowser ? "animation__slide-left" : "hidden")">
        <h1 class="about-bots__header">
            <span class="about-bots__item">@Resources[Messages.GUI_MainHeader]</span>
            <br/>
            <span class="about-bots__item">@Resources[Messages.GUI_MainSubHeader]</span>
        </h1>
        <br/>
        <p class="about-bots__description">
            <span class="about-bots__item">👌 @Resources[Messages.GUI_ToolAppraiser]</span>
            <br/>
            <span class="about-bots__item">🤝 @Resources[Messages.GUI_ToolReviewer]</span>
            <br/>
            <span class="about-bots__item">💬 @Resources[Messages.GUI_ToolRandomCoffee]</span>
            <br/>
            <span class="about-bots__item">⭐ @Resources[Messages.GUI_ToolCheckIn]</span>
        </p>
        <div class="about-bots__actions">
            <a
                href="@LinkBuilder.Build("constructor")"
                class="button button_dark">
                @Resources[Messages.GUI_CreateBotLink]
            </a>
            <a
                href="mailto:@(GlobalSettings.RequestDemoEmail)?body=@(Resources[Messages.GUI_RequestDemoBody])&subject=@($"{Resources[Messages.GUI_RequestDemo]} [TeamAssistant]")"
                class="link link_dark about-bots__link">
                @Resources[Messages.GUI_RequestDemo]
            </a>
        </div>
    </div>
</section>