@using Inc.TeamAssistant.Primitives

@implements IDisposable

@inject PersistentComponentState ApplicationState
@inject LanguageManager LanguageManager

<div class="request-demo__body">
    <div class="request-demo-text">
        <h1 class="request-demo-text__header">
            <span class="request-demo-text-item">@_viewModel.Header</span><br/><span class="request-demo-text-item">@_viewModel.SubHeader</span>
        </h1>
        <br/>
        <p class="request-demo-text__description">
            <span class="request-demo-text-item">👌 @_viewModel.ToolAppraiser<br/></span>
            <span class="request-demo-text-item">🤝 @_viewModel.ToolReviewer<br/></span>
            <span class="request-demo-text-item">💬 @_viewModel.ToolRandomCoffee</span>
        </p>
        <div class="request-demo-actions">
            <a href="mailto:@(GlobalSettings.FeedbackTo)?body=@(_viewModel.RequestDemoBody)&subject=@(_viewModel.RequestDemoSubject)" class="button button_black">@_viewModel.RequestDemo</a>
            <br/>
            <a href="@MoveToConstructor()" class="link link_black request-demo-actions__link">@_viewModel.CreateBotLink</a>
        </div>
    </div>
</div>

@code {
    private const string StateKey = nameof(RequestDemo);
    private PersistingComponentStateSubscription _persistingSubscription;
    private Func<string?, string> _linkBuilder = default!;
    
    private RequestDemoViewModel _viewModel = RequestDemoViewModel.Empty;

    protected override async Task OnInitializedAsync()
    {
        _linkBuilder = LanguageManager.CreateLinkBuilder();
        _persistingSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        if (ApplicationState.TryTakeFromJson<RequestDemoViewModel>(StateKey, out var restored) && restored is not null)
            _viewModel = restored;
        else
            await Initialize();
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson(StateKey, _viewModel);

        return Task.CompletedTask;
    }

    private async Task Initialize()
    {
        var resources = await LanguageManager.GetResource();
        var requestDemo = resources[Messages.GUI_RequestDemo];

        _viewModel = new RequestDemoViewModel(
            requestDemo,
            $"{requestDemo} [TeamAssistant]",
            resources[Messages.GUI_RequestDemoBody],
            resources[Messages.GUI_MainHeader],
            resources[Messages.GUI_MainSubHeader],
            resources[Messages.GUI_ToolAppraiser],
            resources[Messages.GUI_ToolReviewer],
            resources[Messages.GUI_ToolRandomCoffee],
            resources[Messages.GUI_CreateBotLink]);
    }
    
    private string MoveToConstructor() => _linkBuilder("constructor");

    public void Dispose() => _persistingSubscription.Dispose();
}