@inject IStringLocalizer<DashboardResources> Localizer

@if (TeamId.HasValue)
{
    <DashboardWidget
        HasControls="true"
        HasChart="true"
        Title="@Localizer["ReviewAverageStatsWidgetTitle"]">
        <DateSelector Date="Date" Items="DateItems" OnSelected="OnSelected"/>
        <Loading State="State" Retry="Retry">
            <div class="component-container">
                @if (Items.Any())
                {
                    <ApexChart
                        TItem="ReviewAverageStatsDto"
                        Title="@Localizer["ReviewAverageStatsTitle"]"
                        FormatYAxisLabel="@(y => y.ToString("N1"))">
                        <ApexPointSeries
                            TItem="ReviewAverageStatsDto"
                            Items="Items"
                            SeriesType="@SeriesType.Area"
                            Name="@Localizer["ReviewAverageFirstTouch"]"
                            XValue="@(e => e.Created)"
                            YValue="@(e => (decimal)e.FirstTouch.TotalMinutes)"/>
                        <ApexPointSeries
                            TItem="ReviewAverageStatsDto"
                            Items="Items"
                            SeriesType="@SeriesType.Area"
                            Name="@Localizer["ReviewAverageReview"]"
                            XValue="@(e => e.Created)"
                            YValue="@(e => (decimal)e.Review.TotalMinutes)"/>
                        <ApexPointSeries
                            TItem="ReviewAverageStatsDto"
                            Items="Items"
                            SeriesType="@SeriesType.Area"
                            Name="@Localizer["ReviewAverageCorrection"]"
                            XValue="@(e => e.Created)"
                            YValue="@(e => (decimal)e.Correction.TotalMinutes)"/>
                    </ApexChart>
                }
                else
                {
                    <NoData ComponentStyle="ComponentStyle.Secondary"/>
                }
            </div>
        </Loading>
    </DashboardWidget>
}

@code {
    /// <summary>
    /// Selected team identifier.
    /// </summary>
    [Parameter, EditorRequired]
    public Guid? TeamId { get; set; }
    
    /// <summary>
    /// Selected date.
    /// </summary>
    [Parameter, EditorRequired]
    public DateOnly? Date { get; set; }
    
    /// <summary>
    /// Dates.
    /// </summary>
    [Parameter, EditorRequired]
    public IReadOnlyDictionary<string, DateOnly> DateItems { get; set; } = default!;

    /// <summary>
    /// Component state.
    /// </summary>
    [Parameter, EditorRequired]
    public LoadingState State { get; set; } = default!;
    
    /// <summary>
    /// Items.
    /// </summary>
    [Parameter, EditorRequired]
    public IReadOnlyCollection<ReviewAverageStatsDto> Items { get; set; } = default!;
    
    /// <summary>
    /// Action for retry.
    /// </summary>
    [Parameter, EditorRequired]
    public Func<Task> Retry { get; set; } = default!;
    
    /// <summary>
    /// On selected event
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<DateOnly> OnSelected { get; set; }
}