@using Inc.TeamAssistant.Reviewer.Model.Queries.GetHistoryByTeam

@inject IReviewService ReviewService
@inject ResourcesManager Resources
@inject RequestProcessor RequestProcessor
@inject IRenderContext RenderContext
@inject DateSelectorFactory DateSelectorFactory

<Loading State="_state">
    <Content>
        <div class="component-container">
            <DateSelector Date="_date" Items="DateItems" OnSelected="Changed" />
            @if (_formModel.Review.Any())
            {
                <div class="review-total-stats">
                    <div class="review-total-stats__item">
                        <ApexChart
                            TItem="HistoryByTeamItemDto"
                            Title="@string.Format(Resources[Messages.Dashboard_ReviewByReviewerTemplate], _formModel.IntervalInDays)"
                            Options="ApexChartOptionsBuilder.Build<HistoryByTeamItemDto>()"
                            @ref="_reviewChart">
                            <ApexPointSeries TItem="HistoryByTeamItemDto"
                                             Items="_formModel.Review"
                                             SeriesType="SeriesType.Donut"
                                             XValue="@(e => e.PersonName)"
                                             YValue="@(e => e.Count)"
                                             OrderByDescending="e => e.Y!"/>
                        </ApexChart>
                    </div>
                    <div class="review-total-stats__item">
                        <ApexChart
                            TItem="HistoryByTeamItemDto"
                            Title="@string.Format(Resources[Messages.Dashboard_ReviewByOwnerTemplate], _formModel.IntervalInDays)"
                            Options="ApexChartOptionsBuilder.Build<HistoryByTeamItemDto>()"
                            @ref="_requestsChart">
                            <ApexPointSeries TItem="HistoryByTeamItemDto"
                                             Items="_formModel.Requests"
                                             SeriesType="SeriesType.Donut"
                                             XValue="@(e => e.PersonName)"
                                             YValue="@(e => e.Count)"
                                             OrderByDescending="e => e.Y!"/>
                        </ApexChart>
                    </div>
                </div>
            }
            else
            {
                <NoData IsDark="true"/>
            }
        </div>
    </Content>
</Loading>

@code {
    [Parameter, EditorRequired]
    public Guid TeamId { get; set; }
    
    private DateOnly? _date;
    private ApexChart<HistoryByTeamItemDto>? _reviewChart;
    private ApexChart<HistoryByTeamItemDto>? _requestsChart;

    private RequestState _state = RequestState.Done();
    private IReadOnlyCollection<SelectItem<DateOnly>> DateItems => DateSelectorFactory.CreateShortPeriods();
    private readonly ReviewTotalStatsWidgetFormModel _formModel = new();

    protected override async Task OnParametersSetAsync()
    {
        _date ??= DateItems.First().Value;

        await Load(_date.Value);
    }
    
    private async Task Load(DateOnly date)
    {
        _state = await RequestProcessor.Process(
            () => ReviewService.GetHistory(TeamId, date),
            nameof(ReviewTotalStatsWidget),
            r =>
            {
                _formModel.Apply(r, date);
                _state = RequestState.Done();
                StateHasChanged();
            });
    }

    private async Task Changed(DateOnly date)
    {
        _date = date;
        
        await Load(_date.Value);
    }
}