@using Inc.TeamAssistant.Reviewer.Model.Queries.GetHistoryByTeam

@inherits PersistentComponent<ReviewTotalStatsWidgetViewModel>

@inject IReviewService ReviewService

<DateSelector Date="_date" Items="ViewModel.DateItems" OnSelected="Changed" />

@if (ViewModel.Review.Any())
{
    <div class="review-total-stats">
        <div class="review-total-stats__item">
            <ApexChart
                TItem="HistoryByTeamItemDto"
                Title="@ViewModel.ReviewByReviewer"
                Options="ApexChartOptionsBuilder.Build<HistoryByTeamItemDto>()"
                @ref="_reviewChart">
                <ApexPointSeries TItem="HistoryByTeamItemDto"
                                 Items="ViewModel.Review"
                                 SeriesType="SeriesType.Donut"
                                 XValue="@(e => e.PersonName)"
                                 YValue="@(e => e.Count)"
                                 OrderByDescending="e => e.Y!" />
            </ApexChart>
        </div>
        <div class="review-total-stats__item">
            <ApexChart
                TItem="HistoryByTeamItemDto"
                Title="@ViewModel.ReviewByOwner"
                Options="ApexChartOptionsBuilder.Build<HistoryByTeamItemDto>()"
                @ref="_requestsChart">
                <ApexPointSeries TItem="HistoryByTeamItemDto"
                                 Items="ViewModel.Requests"
                                 SeriesType="SeriesType.Donut"
                                 XValue="@(e => e.PersonName)"
                                 YValue="@(e => e.Count)"
                                 OrderByDescending="e => e.Y!" />
            </ApexChart>
        </div>
    </div>
}
else
{
    <NoData />
}

@code {
    [Parameter, EditorRequired]
    public Guid TeamId { get; set; }

    private DateOnly? _date;
    private ApexChart<HistoryByTeamItemDto>? _reviewChart;
    private ApexChart<HistoryByTeamItemDto>? _requestsChart;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        
        _date ??= ViewModel.DateItems.First().Date;
        
        _reviewChart?.RenderAsync();
        _requestsChart?.RenderAsync();
    }

    protected override async Task<ReviewTotalStatsWidgetViewModel> Initialize(ResourcesManager resources)
    {
        var dateItems = DateSelectorDataFactory.Create(resources);
        _date ??= dateItems.First().Date;
        var interval = DateTimeOffset.UtcNow - new DateTimeOffset(_date.Value, TimeOnly.MinValue, TimeSpan.Zero);
        var intervalInDays = (int)interval.TotalDays;
        var history = await ReviewService.GetHistory(TeamId, _date.Value);

        return new ReviewTotalStatsWidgetViewModel(
            string.Format(resources[Messages.Dashboard_ReviewByReviewerTemplate], intervalInDays),
            string.Format(resources[Messages.Dashboard_ReviewByOwnerTemplate], intervalInDays),
            dateItems,
            history.Review,
            history.Requests);
    }

    private async Task Changed(DateOnly date)
    {
        _date = date;
        
        await Update();

        _reviewChart?.RenderAsync();
        _requestsChart?.RenderAsync();
    }
}