@inject IStringLocalizer<DashboardResources> Localizer

<div class="team-connector">
    <FormSection
        Title="@Team.TeamName"
        HelpText="@Localizer["ConnectToTeamHelp"]"
        AsRows="true">
        <Loading State="State" Retry="Retry">
            <div class="team-connector__code">
                @((MarkupString)Team.Code)
            </div>
            <div class="team-connector__buttons">
                <Button
                    ComponentStyle="ComponentStyle.Secondary"
                    ButtonType="ButtonType.Tab"
                    Link="@Team.LinkForConnect">
                    @Localizer["ConnectToTeamButton"]
                </Button>
            </div>
        </Loading>
    </FormSection>
</div>

@code {
    /// <summary>
    /// Selected team.
    /// </summary>
    [Parameter, EditorRequired]
    public GetTeamConnectorResult Team { get; set; } = default!;

    /// <summary>
    /// Component state.
    /// </summary>
    [Parameter, EditorRequired]
    public LoadingState State { get; set; } = default!;
    
    /// <summary>
    /// Action for retry.
    /// </summary>
    [Parameter, EditorRequired]
    public Func<Task> Retry { get; set; } = default!;
}