@using Inc.TeamAssistant.Primitives.Languages

@inject IServiceProvider ServiceProvider
@inject ResourcesManager Resources

<EditForm EditContext="_editContext" OnSubmit="SubmitForm">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <Panel Header="@Resources[Messages.Constructor_Configuration]" IsOpen="true">
        <Actions>
            <button type="submit" class="button button_light">
                @Resources[Messages.Constructor_MoveNextTitle]
            </button>
        </Actions>
        <Content>
            @foreach (var feature in StagesState.SelectedFeatures)
            {
                if (!_formModel.AvailableProperties.TryGetValue(feature.Name, out var settingSections))
                    continue;

                foreach (var settingSection in settingSections)
                {
                    <FormSection
                        Title="@Resources[settingSection.HeaderMessageId]"
                        HelpText="@Resources[settingSection.HelpMessageId]">
                        <Content>
                            @foreach (var settingItem in settingSection.SettingItems)
                            {
                                var property = _formModel.Properties.SingleOrDefault(p => p.Title.Equals(
                                    settingItem.PropertyName,
                                    StringComparison.InvariantCultureIgnoreCase));
                                if (property is null)
                                    continue;

                                <FormFieldSet
                                    FieldId="@settingItem.PropertyName"
                                    Label="@Resources[settingItem.LabelMessageId]">
                                    <Content>
                                        <SelectList
                                            FieldId="@settingItem.PropertyName"
                                            Value="property.Value"
                                            ValueChanged="@((string v) => property.Value = v)"
                                            Items="settingItem.Values"
                                            TitleSelector="i => Resources[i.MessageId]"
                                            ValueSelector="i => i.Value" />
                                        <ValidationMessage For="@(() => property.Value)"/>
                                    </Content>
                                </FormFieldSet>
                            }
                        </Content>
                    </FormSection>
                }
            }
            <FormSection
                Title="@Resources[Messages.Constructor_SupportedLanguages]"
                HelpText="@Resources[Messages.Constructor_SupportedLanguagesHelp]">
                <Content>
                    <FormFieldSet
                        FieldId="supported-languages"
                        Label="@Resources[Messages.Constructor_Languages]">
                        <Content>
                            <div id="supported-languages" class="form-control enabled">
                                @foreach (var languageId in LanguageSettings.LanguageIds)
                                {
                                    <span
                                        class="multiselect__item @CssClass(languageId)"
                                        @onclick="() => _formModel.ToggleLanguage(languageId)">
                                        @languageId.Value
                                    </span>
                                }
                            </div>
                            <ValidationMessage For="@(() => _formModel.SupportedLanguages)"/>
                        </Content>
                    </FormFieldSet>
                </Content>
            </FormSection>
        </Content>
    </Panel>
</EditForm>
<CalendarEditor Selected="SelectedCalendar" IsOpen="!_formModel.CalendarId.HasValue">
    <Validation>
        <ValidationMessage For="@(() => _formModel.CalendarId)"/>
    </Validation>
</CalendarEditor>
<BotDetailsEditor SupportedLanguages="_formModel.SupportedLanguages" Token="@_formModel.Token" />

@code {
    [Parameter, EditorRequired]
    public StagesState StagesState { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public Func<Stage?, string> LinkFactory { get; set; } = default!;

    [Parameter, EditorRequired]
    public Func<Stage?, Task> MoveToNext { get; set; } = default!;

    [Parameter, EditorRequired]
    public string BotStorageKey { get; set; } = default!;
    
    private readonly SetSettingsFormModel _formModel = new();
    private FluentValidationValidator? _fluentValidationValidator;
    private EditContext? _editContext;

    protected override void OnParametersSet()
    {
        _editContext = EditContextFactory.Create(_formModel.Apply(StagesState));
    }

    private string CssClass(LanguageId languageId) => _formModel.SupportedLanguages.Contains(languageId.Value, StringComparer.InvariantCultureIgnoreCase)
        ? "multiselect__item_selected"
        : string.Empty;

    private async Task SelectedCalendar(Guid calendarId)
    {
        var dataEditor = ServiceProvider.GetRequiredService<DataEditor>();
        await dataEditor.Attach(BotStorageKey, StagesState.Apply(calendarId));
    }

    private async Task SubmitForm()
    {
        if (_fluentValidationValidator is null || !await _fluentValidationValidator.ValidateAsync())
            return;

        var dataEditor = ServiceProvider.GetRequiredService<DataEditor>();
        await dataEditor.Attach(BotStorageKey, StagesState.Apply(_formModel));

        await MoveToNext(Stage.Complete);
    }
}