@inject IBotService BotService
@inject RequestProcessor RequestProcessor
@inject IStringLocalizer<DashboardResources> Localizer
@inject DragAndDropService<DashboardSettingsItem> DragAndDropService
@inject IServiceProvider ServiceProvider
@inject FeaturesFactory FeaturesFactory

<ContentDialog Title="@Localizer["Settings"].Value" @ref="_contentDialog">
    <Content>
        <div class="widget-settings @CssClass">
            <EditForm EditContext="_editContext" OnSubmit="SubmitForm">
                <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="true" />
                <Loading State="_state" Retry="SubmitForm">
                    <Content>
                        <div class="widget-settings__body">
                            <ValidationSummary/>
                            @{
                                var widgets = _formModel.Items.OrderBy(w => w.Position).ToArray();

                                for (var i = 0; i < widgets.Length; i++)
                                {
                                    var current = widgets[i];
                                    var next = i < widgets.Length - 1 ? widgets[i + 1] : null;
                                    var prev = i > 0 ? widgets[i - 1] : null;
                                    var isVisibleId = "is-visible-" + current.Type;

                                    <div
                                        class="widget-settings__item"
                                        title="@FeatureHelp(current)"
                                        draggable="true"
                                        ondragover="event.preventDefault();"
                                        @ondrop="() => HandleDrop(widgets, current)"
                                        @ondragenter="HandleDragEnter"
                                        @ondragstart="@(() => HandleDragStart(current))">
                                        <div class="widget-settings__drag">
                                            <DragVerticalIcon Size="30px" ComponentStyle="ComponentStyle.Secondary"/>
                                        </div>
                                        @if (next is not null)
                                        {
                                            <Button
                                                ComponentStyle="ComponentStyle.Secondary"
                                                ButtonMode="ButtonMode.Small"
                                                OnClick="() => MoveDown(widgets, current, next)">
                                                <Content>
                                                    <ArrowDownIcon
                                                        Size="20px"
                                                        ComponentStyle="ComponentStyle.Secondary"/>
                                                </Content>
                                            </Button>
                                        }
                                        else
                                        {
                                            <Button
                                                ComponentStyle="ComponentStyle.Secondary"
                                                IsDisabled="true"
                                                ButtonMode="ButtonMode.Small">
                                                <Content>
                                                    <ArrowDownIcon
                                                        Size="20px"
                                                        ComponentStyle="ComponentStyle.Secondary"/>
                                                </Content>
                                            </Button>
                                        }
                                        @if (prev is not null)
                                        {
                                            <Button
                                                ComponentStyle="ComponentStyle.Secondary"
                                                ButtonMode="ButtonMode.Small"
                                                OnClick="() => MoveUp(widgets, current, prev)">
                                                <Content>
                                                    <ArrowUpIcon Size="20px" ComponentStyle="ComponentStyle.Secondary"/>
                                                </Content>
                                            </Button>
                                        }
                                        else
                                        {
                                            <Button
                                                ComponentStyle="ComponentStyle.Secondary"
                                                IsDisabled="true"
                                                ButtonMode="ButtonMode.Small">
                                                <Content>
                                                    <ArrowUpIcon Size="20px" ComponentStyle="ComponentStyle.Secondary"/>
                                                </Content>
                                            </Button>
                                        }
                                        @if (current.CanEnabled)
                                        {
                                            <InputCheckbox id="@isVisibleId" @bind-Value="current.IsVisible"/>
                                            <label for="@isVisibleId">
                                                @ToWidgetTitle(current.Type)
                                            </label>
                                        }
                                        else
                                        {
                                            <InputCheckbox
                                                id="@isVisibleId"
                                                @bind-Value="current.IsVisible"
                                                disabled="disabled"/>
                                            <label for="@isVisibleId">
                                                @ToWidgetTitle(current.Type)
                                            </label>
                                        }
                                    </div>
                                }
                            }
                        </div>
                        <div class="widget-settings__actions">
                            <Button ButtonType="ButtonType.Submit" ComponentStyle="ComponentStyle.Secondary">
                                <Content>
                                    @Localizer["Apply"].Value
                                </Content>
                            </Button>
                        </div>
                    </Content>
                </Loading>
            </EditForm>
        </div>
    </Content>
</ContentDialog>

<div class="dashboard-settings">
    <Button
        ComponentStyle="ComponentStyle.Secondary"
        ButtonMode="ButtonMode.Small"
        OnClick="() => _contentDialog?.Open()">
        <Content>
            <SettingsIcon Size="20px" ComponentStyle="ComponentStyle.Secondary"/>
        </Content>
    </Button>
</div>

@code {
    [Parameter, EditorRequired]
    public Guid? BotId { get; set; }
    
    [Parameter, EditorRequired]
    public EventCallback Changed { get; set; }
    
    [Parameter, EditorRequired]
    public IReadOnlyCollection<WidgetDto> Widgets { get; set; } = default!;

    private ContentDialog? _contentDialog;

    private bool _isDragStarting;
    private LoadingState _state = LoadingState.Done();
    private readonly DashboardSettingsFormModel _formModel = new();
    private FluentValidationValidator? _fluentValidationValidator;
    private EditContext? _editContext;
    
    private Dictionary<string, string> WidgetsLookup => new()
    {
        [nameof(TeammatesWidget)] = Localizer["TeammatesWidgetTitle"].Value,
        [nameof(ReviewAverageStatsWidget)] = Localizer["ReviewAverageStatsWidgetTitle"].Value,
        [nameof(ReviewHistoryWidget)] = Localizer["LastTasksWidgetTitle"].Value,
        [nameof(ReviewTotalStatsWidget)] = Localizer["ReviewTotalStatsWidgetTitle"].Value,
        [nameof(AppraiserHistoryWidget)] = Localizer["AppraiserHistoryTitle"].Value,
        [nameof(AppraiserIntegrationWidget)] = Localizer["AppraiserIntegrationTitle"].Value,
        [nameof(RandomCoffeeHistoryWidget)] = Localizer["RandomCoffeeHistoryWidgetTitle"].Value,
        [nameof(MapWidget)] = Localizer["CheckInMapWidgetTitle"].Value
    };
    
    private string CssClass => _isDragStarting ? "widget-settings_on-drag" : "widget-settings_no-drag";
    
    protected override void OnParametersSet()
    {
        _editContext = EditContextFactory.Create(_formModel.Apply(Widgets));
    }
    
    private string ToWidgetTitle(string type) => WidgetsLookup.GetValueOrDefault(type, type);

    private string FeatureHelp(DashboardSettingsItem item)
    {
        if (item.CanEnabled)
            return string.Empty;
        
        var featureName = FeaturesFactory.CreateName(item.Feature);

        return string.Format(Localizer["DisableWidgetHelpTemplate"].Value, featureName);
    }
    
    private void HandleDrop(DashboardSettingsItem[] items, DashboardSettingsItem target)
    {
        var source = DragAndDropService.End();
        
        Swap(items, source, target);
        
        _isDragStarting = false;
    }
    
    private void HandleDragStart(DashboardSettingsItem source) => DragAndDropService.Start(source);
    
    private void HandleDragEnter() => _isDragStarting = true;
    
    private void Swap(DashboardSettingsItem[] items, DashboardSettingsItem first, DashboardSettingsItem second)
    {
        if (first.Position < second.Position)
            MoveDown(items, first, second);
        else
            MoveUp(items, first, second);
    }

    private void MoveDown(DashboardSettingsItem[] items, DashboardSettingsItem first, DashboardSettingsItem second)
    {
        var targets = items
            .Where(i => i.Position > first.Position && i.Position <= second.Position)
            .OrderBy(i => i.Position);
        
        foreach (var target in targets)
            _formModel.Swap(first, target);
    }

    private void MoveUp(DashboardSettingsItem[] items, DashboardSettingsItem first, DashboardSettingsItem second)
    {
        var targets = items
            .Where(i => i.Position <= first.Position && i.Position > second.Position)
            .OrderByDescending(i => i.Position);
        
        foreach (var target in targets)
            _formModel.Swap(second, target);
    }
    
    private async Task SubmitForm()
    {
        if (!BotId.HasValue || _fluentValidationValidator is null || !await _fluentValidationValidator.ValidateAsync())
            return;

        var notificationsService = ServiceProvider.GetRequiredService<INotificationsService>();
        var notification = Notification.Info(Localizer["SettingsApplied"].Value);

        await RequestProcessor.Process(
            async () =>
            {
                await BotService.UpdateWidgets(_formModel.ToCommand(BotId.Value));

                await Changed.InvokeAsync();
            },
            () =>
            {
                _contentDialog?.Close();
                notificationsService.Publish(notification);
            },
            s => _state = s);
    }
}