@inject IStringLocalizer<DashboardResources> Localizer

<DashboardWidget Title="@Localizer["CheckInMapWidgetTitle"]">
    <Loading State="State" Retry="Retry">
        <div class="component-container">
            <div class="map-selector">
                <InputSelectList
                    FieldId="map-selector"
                    Value="FormModel.MapId"
                    ValueExpression="@(() => FormModel.MapId)"
                    ValueChanged="@((Guid? v) => FormModel.MapId = v)"
                    Items="FormModel.Maps"
                    TitleSelector="i => i.Name"
                    ValueSelector="i => i.Id"/>
            </div>
            @if (FormModel.MapId.HasValue)
            {
                var routeSegment = $"map/{FormModel.MapId.Value:N}";
                var mapUrl = LinkFactory(routeSegment);

                <div class="checkin-map">
                    <iframe src="@mapUrl?DisableLayout=true" class="checkin-map__body"></iframe>
                    <div class="checkin-map__bg"></div>
                    <div class="checkin-map__controls">
                        <div class="checkin-map__controls-body">
                            <Button
                                ComponentStyle="ComponentStyle.Secondary"
                                ButtonType="ButtonType.Tab"
                                Link="@routeSegment">@Localizer["CheckInMoveToMapTitle"]</Button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <NoData ComponentStyle="ComponentStyle.Secondary"/>
            }
        </div>
    </Loading>
</DashboardWidget>

@code {
    /// <summary>
    /// Component state.
    /// </summary>
    [Parameter, EditorRequired]
    public LoadingState State { get; set; } = default!;
    
    /// <summary>
    /// Form model.
    /// </summary>
    [Parameter, EditorRequired]
    public MapWidgetFormModel FormModel { get; set; } = default!;
    
    /// <summary>
    /// Action for retry.
    /// </summary>
    [Parameter, EditorRequired]
    public Func<Task> Retry { get; set; } = default!;
    
    /// <summary>
    /// Link factory.
    /// </summary>
    [Parameter, EditorRequired]
    public Func<string, string> LinkFactory { get; set; } = default!;
}