@implements IDisposable

@inject IRenderContext RenderContext
@inject ResourcesManager Resources
@inject NavRouter NavRouter

<div class="navbar">
    <div class="navbar-container">
        <AuthorizeView>
            <Authorized>
                @{ var person = context.User.ToPerson(); }
                <RouterLink Href="@MainUrl">
                    <Content>
                        <HomeIcon Size="40px"/>
                    </Content>
                </RouterLink>
                <CultureSelector/>
                <div class="navbar__divider"></div>
                <span class="navbar__item navbar__item_avatar">
                    <img src="/photos/@person.Id" alt="user avatar" class="user-avatar"/>
                    @person.Name
                    <br/>
                    @person.Username
                </span>
                <RouterLink Href="@_logoutUrl">
                    <Content>@Resources[Messages.Navigation_Logout]</Content>
                </RouterLink>
            </Authorized>
            <NotAuthorized>
                <RouterLink Href="@MainUrl">
                    <Content>
                        <HomeIcon Size="40px"/>
                    </Content>
                </RouterLink>
                <CultureSelector/>
                <div class="navbar__divider"></div>
                @if (!NavRouter.CurrentUrl.Contains("/login"))
                {
                    <RouterLink Href="@NavRouter.CreateRoute($"login?returnUrl={NavRouter.CurrentUrl}")">
                        <Content>
                            @Resources[Messages.Navigation_Login]
                        </Content>
                    </RouterLink>
                }
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private IDisposable? _routerScope;
    
    private string MainUrl => NavRouter.CreateRoute(null);
    private string _logoutUrl = string.Empty;

    protected override void OnInitialized()
    {
        var languageId = NavRouter.GetCurrentLanguage();
        
        _routerScope = NavRouter.OnRouteChanged(StateHasChanged);
        _logoutUrl = languageId is null
            ? "accounts/logout"
            : $"accounts/logout?languageCode={languageId.Value}";
    }

    public void Dispose() => _routerScope?.Dispose();
}