@implements IDisposable

@inject IRenderContext RenderContext
@inject NavigationManager NavigationManager
@inject ResourcesManager Resources
@inject LinkBuilder LinkBuilder

<div class="navbar">
    <div class="navbar-container">
        <AuthorizeView>
            <Authorized>
                @{ var person = context.User.ToPerson(); }
                <a href="@MainUrl" class="link navbar__item"><HomeIcon Size="40px" /></a>
                <CultureSelector/>
                <div class="navbar__divider"></div>
                <span class="navbar__item navbar__item_avatar">
                    <img src="/photos/@person.Id" alt="user avatar" class="user-avatar"/>
                    @person.Name
                    <br/>
                    @person.Username
                </span>
                <a href="@LogoutUrl" class="link link_light navbar__item">
                    @Resources[Messages.Navigation_Logout]
                </a>
            </Authorized>
            <NotAuthorized>
                <a href="@MainUrl" class="link navbar__item"><HomeIcon Size="40px" /></a>
                <CultureSelector/>
                <div class="navbar__divider"></div>
                @if (!_currentUrl.Contains("/login"))
                {
                    <a href="@LinkBuilder.Build($"login?returnUrl={_currentUrl}")" class="link link_light navbar__item">
                        @Resources[Messages.Navigation_Login]
                    </a>
                }
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private string _currentUrl = string.Empty;
    
    private string MainUrl => LinkBuilder.Build(null);
    private string LogoutUrl => $"accounts/logout?returnUrl={_currentUrl}";

    protected override void OnInitialized()
    {
        SetPath();
        
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void SetPath()
    {
        _currentUrl = NavigationManager.Uri;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        SetPath();
        
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}