@inject IStringLocalizer<RetroResources> Localizer

<div class="action-item @CssClass">
    @if (CanRemove)
    {
        <div class="action-item__actions">
            <Button ButtonMode="ButtonMode.Small" OnClick="OnItemRemoved">
                <TrashIcon Size="20px"/>
            </Button>
        </div>
    }
    @if (CanMoveToState)
    {
        <div class="action-item__actions">
            @if (Value.State == ActionItemStages.New)
            {
                <Button ButtonMode="ButtonMode.Small" OnClick="OnMoveToDone">
                    <CheckIcon Size="20px"/>
                </Button>
            }
            @if (Value.State is ActionItemStages.New or ActionItemStages.Done)
            {
                <Button ButtonMode="ButtonMode.Small" OnClick="OnMoveToPinned">
                    <PaperclipIcon Size="20px"/>
                </Button>
            }
            @if (Value.State == ActionItemStages.Pinned)
            {
                <Button ButtonMode="ButtonMode.Small" OnClick="OnMoveToDone">
                    <PaperclipSlashIcon Size="20px"/>
                </Button>
            }
        </div>
    }
    <InputInlineEditor
        Id="@Value.Id"
        CanEdit="CanEdit"
        Value="@Value.Text"
        ValueExpression="@(() => Value.Text)"
        ValueChanged="@((string? v) => OnValueChanged(v))" />
    @if (!CanRemove)
    {
        <span class="action-item__data">@Value.Modified.ToString("dd.MM.yyyy")</span>
    }
</div>
<ConfirmDialog @ref="_confirmDialog">
    @Localizer["ItemRemoveConfirm"]
</ConfirmDialog>

@code {
    /// <summary>
    /// Value of the item.
    /// </summary>
    [Parameter, EditorRequired]
    public ActionItemViewModel Value { get; set; } = default!;
    
    /// <summary>
    /// Value changed callback.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<ActionItemViewModel> ValueChanged { get; set; }
    
    /// <summary>
    /// Item removed callback.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<ActionItemViewModel> ItemRemoved { get; set; }
    
    /// <summary>
    /// Can edit item.
    /// </summary>
    [Parameter, EditorRequired]
    public bool CanEdit { get; set; }

    /// <summary>
    /// Can remove item.
    /// </summary>
    [Parameter, EditorRequired]
    public bool CanRemove { get; set; }
    
    /// <summary>
    /// Can move to state.
    /// </summary>
    [Parameter]
    public bool CanMoveToState { get; set; }

    private string CssClass => Value.State switch
    {
        ActionItemStages.New => "action-item_new",
        ActionItemStages.Done => "action-item_done",
        _ => "action-item_pinned"
    };
    
    private ConfirmDialog? _confirmDialog;
    
    private async Task OnValueChanged(string? value)
    {
        if (string.IsNullOrWhiteSpace(value))
            return;
        
        await ValueChanged.InvokeAsync(Value.ChangeText(value));
    }

    private async Task OnItemRemoved()
    {
        if (!CanRemove)
            return;
        
        var isEmpty = string.IsNullOrWhiteSpace(Value.Text);
        
        if (isEmpty)
            await ItemRemoved.InvokeAsync(Value);
        else if (_confirmDialog is not null && await _confirmDialog.IsConfirmed())
            await ItemRemoved.InvokeAsync(Value);
    }
    
    private async Task OnMoveToDone() => await ValueChanged.InvokeAsync(Value.MoveToDone());
    private async Task OnMoveToPinned() => await ValueChanged.InvokeAsync(Value.MoveToPinned());
}