@inject IStringLocalizer<RetroResources> Localizer

<div class="backlog">
    <div class="backlog__container">
        <Loading State="State" Retry="Retry">
            <p class="backlog__text">@Localizer["BacklogText"]</p>
            <div class="backlog-grid__columns">
                <div class="backlog-grid__column">
                    <Panel
                        Header="@GetStateTitle(_stageNew)"
                        IsOpen="true"
                        HasActions="false">
                        <Content>
                            <div class="backlog-grid__column-items">
                                @foreach (var item in ActionItems
                                              .Where(i => i.State == _stageNew)
                                              .OrderByDescending(i => i.Created))
                                {
                                    <ActionItem
                                        CanEdit="true"
                                        CanRemove="false"
                                        CanMoveToState="true"
                                        Value="item"
                                        DebounceDelay="500"
                                        ValueChanged="SendActionItemChanged"
                                        ItemRemoved="@(_ => { })"/>
                                }
                            </div>
                        </Content>
                    </Panel>
                </div>
                <div class="backlog-grid__column">
                    <Panel
                        Header="@GetStateTitle(_stageDone)"
                        IsOpen="true"
                        HasActions="false">
                        <Content>
                            <div class="backlog-grid__column-items">
                                @foreach (var item in ActionItems
                                              .Where(i => i.State == _stageDone)
                                              .OrderByDescending(i => i.Modified))
                                {
                                    <ActionItem
                                        CanEdit="true"
                                        CanRemove="false"
                                        CanMoveToState="false"
                                        Value="item"
                                        DebounceDelay="500"
                                        ValueChanged="SendActionItemChanged"
                                        ItemRemoved="@(_ => { })"/>
                                }
                            </div>
                        </Content>
                    </Panel>
                </div>
            </div>
        </Loading>
    </div>
</div>

@code {
    /// <summary>
    /// Component state.
    /// </summary>
    [Parameter, EditorRequired]
    public LoadingState State { get; set; } = default!;
    
    /// <summary>
    /// Action items for the backlog.
    /// </summary>
    [Parameter, EditorRequired]
    public IReadOnlyCollection<ActionItemViewModel> ActionItems { get; set; } = default!;
    
    /// <summary>
    /// Action for retry.
    /// </summary>
    [Parameter, EditorRequired]
    public Func<Task> Retry { get; set; } = default!;
    
    /// <summary>
    /// Action item changed callback.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<ActionItemViewModel> ActionItemChanged { get; set; }
    
    private readonly string _stageNew = ActionItemStages.New;
    private readonly string _stageDone = ActionItemStages.Done;

    private string GetStateTitle(string stage) => Localizer[$"ActionItemStage{stage}"];
    
    private async Task SendActionItemChanged(ActionItemViewModel item) => await ActionItemChanged.InvokeAsync(item);
}