@implements IDisposable

@inject IStringLocalizer<RetroResources> Localizer

<ConfirmDialog @ref="_confirmDialog" />

<div class="retro-state-panel">
    <a
        title="@Localizer["FinishHint"]"
        href="#"
        class="retro__link"
        @onclick="MoveToFinish"
        @onclick:preventDefault="true">
        <CheckIcon Size="26px"/>
    </a>
    @if (!IsFacilitator)
    {
        <a
            title="@Localizer["GiveFacilitatorHint"]"
            href="#"
            class="retro__link"
            @onclick="GiveFacilitator"
            @onclick:preventDefault="true">
            <UserIcon Size="26px"/>
        </a>
    }
    <a
        title="@Localizer["TimerStartHint"]"
        href="#"
        class="retro__link"
        @onclick="ToggleTimer"
        @onclick:preventDefault="true">
        <ClockCheckIcon Size="26px"/> @TimerValue
    </a>
    @if (IsFacilitator)
    {
        if (IsDiscussing)
        {
            <a
                title="@Localizer["PreviousHint"]"
                href="#"
                class="retro__link retro__link_right"
                @onclick="OnMoveToPrevious"
                @onclick:preventDefault="true">
                <CaretLeftIcon Size="30px"/>
            </a>
        }
        <a
            title="@Localizer["NextHint"]"
            href="#"
            class="retro__link @MoveNextRightCss"
            @onclick="OnMoveNext"
            @onclick:preventDefault="true">
            <CaretRightIcon Size="30px"/>
        </a>
    }
</div>

@code {
    /// <summary>
    /// Retro session.
    /// </summary>
    [Parameter, EditorRequired]
    public RetroSessionDto? Session { get; set; }
    
    /// <summary>
    /// Is prioritizing state.
    /// </summary>
    [Parameter, EditorRequired]
    public bool IsPrioritizing { get; set; }
    
    /// <summary>
    ///  Is discussing state.
    /// </summary>
    [Parameter, EditorRequired]
    public bool IsDiscussing { get; set; }
    
    /// <summary>
    /// Is facilitator flag.
    /// </summary>
    [Parameter, EditorRequired]
    public bool IsFacilitator { get; set; }
    
    /// <summary>
    /// Current timer value.
    /// </summary>
    [Parameter, EditorRequired]
    public TimeSpan? CurrentTimer { get; set; }

    /// <summary>
    /// Timer interval.
    /// </summary>
    [Parameter]
    public TimeSpan TimerInterval { get; set; } = TimeSpan.FromMinutes(15);
    
    /// <summary>
    /// Timer refresh interval.
    /// </summary>
    [Parameter]
    public TimeSpan TimerRefreshInterval { get; set; } = TimeSpan.FromSeconds(1);
    
    /// <summary>
    /// Start retro action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback StartRetro { get; set; }
    
    /// <summary>
    /// Move to next action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<Guid> MoveToNext { get; set; }
    
    /// <summary>
    /// Move to previous action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback MoveToPrevious { get; set; }
    
    /// <summary>
    /// Timer changed action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<TimeSpan?> TimerChanged { get; set; }
    
    /// <summary>
    /// Retro state changed action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback RetroStateChanged { get; set; }
    
    /// <summary>
    /// Facilitator given action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback FacilitatorGiven { get; set; }
    
    private TimeSpan? _currentTimer;
    private Timer? _timer;
    private ConfirmDialog? _confirmDialog;
    private string MoveNextRightCss => IsDiscussing ? string.Empty : "retro__link_right";
    private string TimerValue => _currentTimer.HasValue
        ? _currentTimer.Value.ToString(@"mm\:ss")
        : Localizer["TimerStart"];

    protected override void OnParametersSet()
    {
        if (!_currentTimer.HasValue && CurrentTimer.HasValue)
        {
            _currentTimer = CurrentTimer;
            
            _timer = CreateTimer(TimerRefreshInterval);
            _timer.Start();
        }
        else if (!CurrentTimer.HasValue)
        {
            _currentTimer = null;
            TryStopTimer();
        }
    }
    
    private Timer CreateTimer(TimeSpan interval)
    {
        var timer = new Timer(interval);

        timer.Elapsed += OnTimerTick;
        timer.AutoReset = true;

        return timer;
    }

    private void OnTimerTick(object? sender, ElapsedEventArgs e)
    {
        if (_currentTimer.HasValue)
        {
            var changed = _currentTimer.Value.Subtract(TimerRefreshInterval);

            if (changed > TimeSpan.Zero)
                _currentTimer = changed;
            else
            {
                _currentTimer = null;
                TryStopTimer();
            }
        }
        
        InvokeAsync(async () => await TimerChanged.InvokeAsync(_currentTimer));
    }
    
    private void TryStopTimer()
    {
        if (_timer is not null)
        {
            _timer.Stop();
            _timer.Elapsed -= OnTimerTick;
            _timer.Dispose();
            _timer = null;
        }
    }

    private async Task OnMoveNext()
    {
        if (Session is null)
        {
            await StartRetro.InvokeAsync();
            return;
        }
        
        if (!IsFacilitator)
            return;
            
        if (IsPrioritizing && _confirmDialog is not null &&
            !await _confirmDialog.IsConfirmed(Localizer["ConfirmMoveToDiscussing"]))
            return;
        
        await MoveToNext.InvokeAsync(Session.Id);
    }

    private async Task OnMoveToPrevious()
    {
        if (!IsFacilitator)
            return;
        
        await MoveToPrevious.InvokeAsync();
    }
    
    private async Task ToggleTimer()
    {
        var changedValue = _currentTimer.HasValue
            ? (TimeSpan?)null
            : TimerInterval;

        await TimerChanged.InvokeAsync(changedValue);
    }
    
    private async Task GiveFacilitator()
    {
        if (_confirmDialog is not null && await _confirmDialog.IsConfirmed(Localizer["ConfirmGiveFacilitator"]))
            await FacilitatorGiven.InvokeAsync();
    }

    private async Task MoveToFinish() => await RetroStateChanged.InvokeAsync();

    public void Dispose() => TryStopTimer();
}