@using Inc.TeamAssistant.Appraiser.Dashboard.Components.Features.Annotations

@inject LanguageManager LanguageManager

<h3 class="features__title">@_annotation.ComfortableInUsing</h3>
<p class="features__description">@_annotation.InteractionOptions:</p>
<ul class="features__list">
    <li class="features__item"><span class="cmd">/revote</span> @_annotation.InteractionOptionRestartVoting</li>
    <li class="features__item"><span class="cmd">/accept</span> @_annotation.TerminationOfVoting</li>
    <li class="features__item"><span class="cmd">/users</span> @_annotation.ListOfConnected</li>
</ul>

@code {
    private EasyAnnotation _annotation = EasyAnnotation.Empty;

    protected override async Task OnInitializedAsync()
    {
        var resources = await LanguageManager.GetResource();

        _annotation = new(
            resources[Messages.GUI_ComfortableInUsing],
            resources[Messages.GUI_InteractionOptions],
            resources[Messages.GUI_InteractionOptionRestartVoting],
            resources[Messages.GUI_TerminationOfVoting],
            resources[Messages.GUI_ListOfConnected]);
    }
}