@using Inc.TeamAssistant.Constructor.Model.Queries.GetFeatures

@inherits InputBase<List<Guid>>

@inject DragAndDropService<Guid> DragAndDropService
@inject ResourcesManager ResourcesManager

<div class="input-features">
    <div
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="() => HandleDrop(AvailableFeatures)"
        @ondragenter="HandleDragEnter"
        class="form-control input-features__items @_availableFeaturesCssClass">
        @if (AvailableFeatures.Any())
        {
            foreach (var feature in AvailableFeatures)
            {
                <FeatureCard
                    FeatureId="feature.Id"
                    Icon="@FeatureType(feature.Name)"
                    Title="@GetFeatureMessage(feature.Name, "Name")"
                    Description="@GetFeatureMessage(feature.Name, "Description")">
                    <Buttons>
                        <button type="button" class="button button_light" @onclick="() => ToggleFeature(feature.Id)">
                            @AddText
                        </button>
                    </Buttons>
                </FeatureCard>
            }
        }
        else
        {
            <p class="input-features__text">@FeaturesAvailableEmptyText</p>
        }
    </div>
    <div
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="() => HandleDrop(SelectedFeatures)"
        @ondragenter="HandleDragEnter"
        class="form-control input-features__items @CssClass @_selectedFeaturesCssClass">
        @if (SelectedFeatures.Any())
        {
            foreach (var feature in SelectedFeatures)
            {
                <FeatureCard
                    FeatureId="feature.Id"
                    Icon="@FeatureType(feature.Name)"
                    Title="@GetFeatureMessage(feature.Name, "Name")"
                    Description="@GetFeatureMessage(feature.Name, "Description")">
                    <Buttons>
                        <button type="button" class="button button_light" @onclick="() => ToggleFeature(feature.Id)">
                            @RemoveText
                        </button>
                    </Buttons>
                </FeatureCard>
            }
        }
        else
        {
            <p class="input-features__text">@FeaturesSelectedEmptyText</p>
        }
        @if (Validation is not null)
        {
            @Validation
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public IReadOnlyCollection<FeatureDto> Features { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public string AddText { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public string RemoveText { get; set; } = default!;
    
    [Parameter]
    public string? FeaturesAvailableEmptyText { get; set; }
    
    [Parameter]
    public string? FeaturesSelectedEmptyText { get; set; }
    
    [Parameter]
    public RenderFragment? Validation { get; set; }
    
    private string _availableFeaturesCssClass = string.Empty;
    private string _selectedFeaturesCssClass = string.Empty;
    private IEnumerable<FeatureDto> AvailableFeatures => Features.Where(f => !IsSelected(f.Id));
    private IEnumerable<FeatureDto> SelectedFeatures => Features.Where(f => IsSelected(f.Id));

    protected override bool TryParseValueFromString(
        string? value,
        out List<Guid> result,
        out string validationErrorMessage)
    {
        throw new NotImplementedException();
    }

    private bool IsSelected(Guid id) => CurrentValue?.Contains(id) == true;

    private string GetFeatureMessage(string featureName, string propertyName)
    {
        var messageId = Messages.GetFeatureProperty(featureName, propertyName);
        
        return ResourcesManager[messageId];
    }

    private Type FeatureType(string featureName) => featureName switch
    {
        "Appraiser" => typeof(AppraiserIcon),
        "CheckIn" => typeof(CheckInIcon),
        "RandomCoffee" => typeof(RandomCoffeeIcon),
        "Reviewer" => typeof(ReviewerIcon),
        _ => typeof(UnknownIcon)
    };

    private void ToggleFeature(Guid id)
    {
        if (CurrentValue is null)
            return;

        if (CurrentValue.Contains(id))
            CurrentValue.Remove(id);
        else
            CurrentValue.Add(id);
    }
    
    private void HandleDrop(IEnumerable<FeatureDto> features)
    {
        var featureId = DragAndDropService.End();
        
        if (features.All(f => f.Id != featureId))
            ToggleFeature(featureId);
        
        _availableFeaturesCssClass = string.Empty;
        _selectedFeaturesCssClass = string.Empty;
    }
    
    private void HandleDragEnter()
    {
        var cssClass = "can-drop";

        if (AvailableFeatures.Any(f => f.Id == DragAndDropService.Current))
            _selectedFeaturesCssClass = cssClass;
        else
            _availableFeaturesCssClass = cssClass;
    }
}