@inject IStringLocalizer<ConstructorResources> Localizer

<EditForm id="@AnalyticEvents.FeatureSelected" EditContext="_editContext" OnSubmit="SubmitForm">
    <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="true" />
    <Panel Header="@Localizer["FeaturesStore"]" IsOpen="true">
        <Actions>
            <Button ButtonType="ButtonType.Submit">@Localizer["MoveNextTitle"]</Button>
        </Actions>
        <Content>
            <FormSection
                Title="@Localizer["FormSectionFeaturesTitle"]"
                HelpText="@Localizer["FormSectionFeaturesHelp"]"
                AsRows="true">
                <InputFeatures
                    Value="FormModel.FeatureIds"
                    ValueExpression="@(() => FormModel.FeatureIds)"
                    ValuesChanged="(IEnumerable<Guid> v) => FormModel.SetFeatures(v)"
                    Features="StagesState.AvailableFeatures">
                    <Validation>
                        <ValidationMessage For="@(() => FormModel.FeatureIds)" />
                    </Validation>
                </InputFeatures>
            </FormSection>
        </Content>
    </Panel>
</EditForm>

@code {
    /// <summary>
    /// Form model.
    /// </summary>
    [Parameter, EditorRequired]
    public SelectFeaturesFormModel FormModel { get; set; } = default!;
    
    /// <summary>
    /// State of the stages.
    /// </summary>
    [Parameter, EditorRequired]
    public StagesState StagesState { get; set; } = default!;
    
    /// <summary>
    /// OnValidSubmit event.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback OnValidSubmit { get; set; }
    
    private FluentValidationValidator? _fluentValidationValidator;
    private EditContext? _editContext;
    
    protected override void OnParametersSet()
    {
        _editContext = EditContextFactory.Create(FormModel);
    }

    private async Task SubmitForm()
    {
        if (_fluentValidationValidator is null || !await _fluentValidationValidator.ValidateAsync())
            return;

        await OnValidSubmit.InvokeAsync();
    }
}