@inject IBotService BotService
@inject IServiceProvider ServiceProvider
@inject IStringLocalizer<ConstructorResources> Localizer
@inject RequestProcessor RequestProcessor
@inject FeaturesFactory FeaturesFactory

<EditForm id="@FormId" EditContext="_editContext" OnSubmit="SubmitForm">
    <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="true" />
    <Panel Header="@PanelHeader" IsOpen="true">
        <Actions>
            <Button ButtonType="ButtonType.Submit">@ButtonText</Button>
        </Actions>
        <Content>
            <Loading State="_state" Retry="SubmitForm">
                <ValidationSummary />
                <FormSection
                    Title="@Localizer["ConnectingTelegram"]"
                    HelpText="@Localizer["FormSectionTokenCheckHelp"]">
                    <div class="actions">
                        <RouterLink
                            OnClick="() => MoveToNext(Stage.CheckBot)"
                            ComponentStyle="ComponentStyle.Secondary">@Localizer["Edit"]</RouterLink>
                    </div>
                    <FormFieldSet
                        FieldId="bot-username"
                        Label="@Localizer["FormSectionTokenFieldUserNameLabel"]">
                        <InputSingleLine
                            FieldId="bot-username"
                            @bind-Value="_formModel.UserName"
                            IsDisabled="true"/>
                    </FormFieldSet>
                </FormSection>
                <FormSection
                    Title="@Localizer["FeaturesStore"]"
                    HelpText="@Localizer["FormSectionFeaturesCheckHelp"]">
                    <div class="actions">
                        <RouterLink
                            OnClick="() => MoveToNext(Stage.SelectFeatures)"
                            ComponentStyle="ComponentStyle.Secondary">@Localizer["Edit"]</RouterLink>
                    </div>
                    @foreach (var feature in StagesState.AvailableFeatures)
                    {
                        var fieldId = feature.Id.ToString();
                        var selected = StagesState.FeatureIds.Contains(feature.Id)
                            ? Localizer["BooleanTrueText"].Value
                            : Localizer["BooleanFalseText"].Value;

                        <FormFieldSet
                            FieldId="@fieldId"
                            Label="@FeaturesFactory.CreateName(feature.Name)">
                            <InputSingleLine
                                FieldId="@fieldId"
                                @bind-Value="selected"
                                IsDisabled="true"/>
                        </FormFieldSet>
                    }
                </FormSection>
                @foreach (var feature in StagesState.SelectedFeatures)
                {
                    if (!_formModel.AvailableProperties.TryGetValue(feature.Name, out var settingSections))
                        continue;

                    foreach (var settingSection in settingSections)
                    {
                        <FormSection
                            Title="@Localizer[settingSection.HeaderMessageId]"
                            HelpText="@Localizer[settingSection.HelpMessageId]">
                            <div class="actions">
                                <RouterLink
                                    OnClick="() => MoveToNext(Stage.SetSettings)"
                                    ComponentStyle="ComponentStyle.Secondary">@Localizer["Edit"]</RouterLink>
                            </div>
                            @foreach (var settingItem in settingSection.SettingItems)
                            {
                                var property = _formModel.Properties.SingleOrDefault(p => p.Key.Equals(
                                    settingItem.PropertyName,
                                    StringComparison.InvariantCultureIgnoreCase));
                                var propertyValueAsString = GetValueAsText(settingItem, property.Value);

                                <FormFieldSet
                                    FieldId="@settingItem.PropertyName"
                                    Label="@Localizer[settingItem.LabelMessageId]">
                                    <InputSingleLine
                                        FieldId="@settingItem.PropertyName"
                                        @bind-Value="propertyValueAsString"
                                        IsDisabled="true"/>
                                </FormFieldSet>
                            }
                        </FormSection>
                    }
                }
                <FormSection
                    Title="@Localizer["SupportedLanguages"]"
                    HelpText="@Localizer["SupportedLanguagesCheck"]">
                    <div class="actions">
                        <RouterLink
                            OnClick="() => MoveToNext(Stage.SetSettings)"
                            ComponentStyle="ComponentStyle.Secondary">@Localizer["Edit"]</RouterLink>
                    </div>
                    <FormFieldSet FieldId="supported-languages" Label="@Localizer["Languages"]">
                        <InputMultiSelectList
                            FieldId="supported-languages"
                            Value="_formModel.SupportedLanguages"
                            ValueExpression="() => _formModel.SupportedLanguages"
                            Items="LanguageSettings.LanguageIds"
                            TitleSelector="i => i.Value"
                            ValueSelector="i => i.Value"
                            IsDisabled="true"/>
                        <ValidationMessage For="@(() => _formModel.SupportedLanguages)"/>
                    </FormFieldSet>
                </FormSection>
            </Loading>
        </Content>
    </Panel>
</EditForm>

@code {
    [Parameter, EditorRequired]
    public StagesState StagesState { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public Func<Stage, NavRoute> LinkFactory { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public Func<Stage?, Task> MoveToNext { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public string BotStorageKey { get; set; } = default!;

    private string ButtonText => StagesState.Id.HasValue
        ? Localizer["ButtonUpdateText"]
        : Localizer["ButtonCreateText"];
    
    private string FormId => StagesState.Id.HasValue
        ? AnalyticEvents.BotUpdated
        : AnalyticEvents.BotCreated;
    
    private string PanelHeader => string.Format(Localizer["CheckConfigurationTemplate"], ButtonText.ToLowerInvariant());
    
    private readonly CompleteFormModel _formModel = new();
    private FluentValidationValidator? _fluentValidationValidator;
    private EditContext? _editContext;
    private LoadingState _state = LoadingState.Done();
    
    protected override void OnParametersSet()
    {
        _editContext = EditContextFactory.Create(_formModel.Apply(StagesState));
    }

    private string GetValueAsText(SettingItem settingItem, string value)
    {
        var item = settingItem.Values.SingleOrDefault(s => s.Value.Equals(
            value,
            StringComparison.InvariantCultureIgnoreCase));
        
        return item is null ? string.Empty : Localizer[item.MessageId];
    }
    
    private async Task SubmitForm()
    {
        if (_fluentValidationValidator is null || !await _fluentValidationValidator!.ValidateAsync())
            return;

        var appLocalStorage = ServiceProvider.GetRequiredService<AppLocalStorage>();

        await RequestProcessor.Process(
            async () =>
            {
                if (StagesState.Id.HasValue)
                    await BotService.Update(_formModel.ToUpdateBotCommand(StagesState.Id.Value));
                else
                    await BotService.Create(_formModel.ToCreateBotCommand());

                await appLocalStorage.Detach<StagesState>(BotStorageKey);
            },
            () => MoveToNext(null),
            s => _state = s);
    }
}