@inherits InputBase<DateOnly>

<FormFieldSet
    FieldId="@FieldId"
    Label="@Label">
    <Content>
        <div class="time-selector__years">
            <SelectList
                FieldId="@FieldId"
                Value="_year"
                ValueExpression="@(() => _year)"
                ValueChanged="@((int i) => SelectYear(i))"
                Items="_years"
                TitleSelector="i => i.Text"
                ValueSelector="i => i.Value"/>
        </div>
        <div class="time-selector__months">
            <SelectList
                FieldId="@($"{FieldId}-month")"
                Value="_month"
                ValueExpression="@(() => _month)"
                ValueChanged="@((int i) => SelectMonth(i))"
                Items="_months"
                TitleSelector="i => i.Text"
                ValueSelector="i => i.Value"/>
        </div>
        <div class="time-selector__days">
            <SelectList
                FieldId="@($"{FieldId}-day")"
                Value="_day"
                ValueExpression="@(() => _day)"
                ValueChanged="@((int i) => SelectDay(i))"
                Items="Days"
                TitleSelector="i => i.Text"
                ValueSelector="i => i.Value"/>
        </div>
    </Content>
</FormFieldSet>

@code {
    [Parameter, EditorRequired]
    public string FieldId { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public string Label { get; set; } = default!;

    [Parameter]
    public int YearsStart { get; set; } = DateTimeOffset.UtcNow.Year;

    [Parameter]
    public int YearsCount { get; set; } = 10;
    
    private int _year;
    private int _month;
    private int _day;

    private IReadOnlyCollection<(string Text, int Value)> _years = Array.Empty<(string, int)>();
    
    private readonly IReadOnlyCollection<(string Text, int Value)> _months = Enumerable
        .Range(1, 12)
        .Select(i => (i.ToString("D2"), i))
        .ToArray();
    
    private IReadOnlyCollection<(string Text, int Value)> Days => Enumerable
        .Range(1, DateTime.DaysInMonth(_year, _month))
        .Select(i => (i.ToString("D2"), i))
        .ToArray();
    
    protected override void OnParametersSet()
    {
        _year = CurrentValue.Year;
        _month = CurrentValue.Month;
        _day = CurrentValue.Day;
        
        _years = Enumerable
            .Range(YearsStart, YearsCount)
            .Select(i => (i.ToString("D2"), i))
            .ToArray();
    }
    
    private void SelectYear(int year)
    {
        _year = year;
        SetCurrentValue();
    }
    
    private void SelectMonth(int month)
    {
        _month = month;
        SetCurrentValue();
    }
    
    private void SelectDay(int day)
    {
        _day = day;
        SetCurrentValue();
    }
    
    private void SetCurrentValue() => CurrentValue = new DateOnly(_year, _month, _day);
    
    protected override bool TryParseValueFromString(
        string? value,
        out DateOnly result,
        out string validationErrorMessage)
    {
        throw new NotImplementedException();
    }
}