@page "/assessment-session/{id:guid}"
@page "/en/assessment-session/{id:guid}"
@page "/ru/assessment-session/{id:guid}"
@page "/assessment-session/{id:guid}/{View}"
@page "/en/assessment-session/{id:guid}/{View}"
@page "/ru/assessment-session/{id:guid}/{View}"

@using Inc.TeamAssistant.Appraiser.Model.Queries.GetActiveStory

@implements IAsyncDisposable

@inject IAppraiserService AppraiserService
@inject IServiceProvider ServiceProvider
@inject ResourcesManager Resources
@inject LinkBuilder LinkBuilder
@inject RequestProcessor RequestProcessor
@inject IJSRuntime JsRuntime

<MetaDataModule WebsiteSection="WebsiteSection.Assessment" MetaOverrideTitle="@Resources[Messages.GUI_TaskAssess]" />

<main class="main">
    <div class="assessment-session-header">
        <div class="assessment-session-header__container">
            <div class="assessment-session__header">
                <div class="assessment-session__about">
                    <Breadcrumbs Items="_breadcrumbs" />
                    <h1 class="title">@Resources[Messages.GUI_TaskAssess]</h1>
                    <p class="assessment-session__text text">
                        @string.Format(Resources[Messages.GUI_AssessmentSessionAbout], _item.TeamName)
                    </p>
                    <p class="assessment-session__text text">@Resources[Messages.GUI_AssessmentSessionConnect]</p>
                </div>
                <div class="assessment-session__link">
                    <Loading State="_state" IsDark="true">
                        <Content>
                            @((MarkupString)_item.CodeForConnect)
                        </Content>
                    </Loading>
                </div>
            </div>
        </div>
    </div>
    <div class="assessment-session-content">
        <div class="assessment-session-content__container">
            <div class="view-controls">
                @foreach (var assessmentType in Enum.GetValues<AssessmentType>())
                {
                    var moveToViewLink = CreateViewLink(assessmentType);
                    
                    <a
                        href="@moveToViewLink"
                        class="view-controls__item @ViewControlCss(assessmentType)"
                        @onclick="() => ChangeView(assessmentType, moveToViewLink)"
                        @onclick:preventDefault="true">
                        <DynamicComponent Type="GetViewIconType(assessmentType)" Parameters="ViewIconParameters" />
                    </a>
                }
            </div>
            <Loading State="_state">
                <Content>
                    @if (_item.Story is not null)
                    {
                        <DynamicComponent Type="CurrentViewType" Parameters="ViewParameters"/>
                    }
                    else
                    {
                        <h2 class="text">@Resources[Messages.GUI_AssessmentSessionHasNotTasks]</h2>
                    }
                </Content>
            </Loading>
        </div>
    </div>
</main>
<div class="assessment-session-footer">
    <div class="assessment-session-footer__container">
        <AssessmentSessionHistory TeamId="Id" />
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Guid Id { get; set; }
    
    [Parameter]
    public string View { get; set; } = default!;
    
    private AssessmentType _currentView = Enum.GetValues<AssessmentType>().First();
    private Type CurrentViewType => _currentView switch
    {
        AssessmentType.Individual => typeof(AssessmentIndividual),
        _ => typeof(AssessmentGroup)
    };
    private Dictionary<string, object> ViewParameters => new()
    {
        ["Item"] = _item.Story!,
        ["MeanRating"] = Resources[Messages.GUI_MeanRating],
        ["MedianRating"] = Resources[Messages.GUI_MedianRating]
    };
    private Dictionary<string, object> ViewIconParameters => new()
    {
        ["Size"] = "40px"
    };
    
    private RequestState _state = RequestState.Done();
    private IReadOnlyCollection<BreadcrumbItem> _breadcrumbs = Array.Empty<BreadcrumbItem>();
    private GetActiveStoryResult _item = new(string.Empty, string.Empty, Story: null);
    private EventsProvider? _eventsProvider;
    
    protected override async Task OnParametersSetAsync()
    {
        if (Enum.TryParse<AssessmentType>(View, ignoreCase: true, out var value))
            _currentView = value;
        
        var date = DateTimeOffset.UtcNow.ToString("yyyy-MM-dd");
        _breadcrumbs = new BreadcrumbItem[]
        {
            new(Resources[Messages.GUI_AssessmentSession], LinkBuilder.Build($"assessment-session/{Id:N}")),
            new(date, LinkBuilder.Build($"assessment-history/{Id:N}/{date}"))
        };
        
        await Load();
        
        var eventsProvider = ServiceProvider.GetService<EventsProvider>();
        if (eventsProvider is not null)
            _eventsProvider ??= await eventsProvider.OnStoryChanged(Id, Load);
    }
    
    private async Task Load()
    {
        _state = await RequestProcessor.Process(
            () => AppraiserService.GetActiveStory(Id, "000", "dfdfdf"),
            nameof(AssessmentSessionPage),
            r =>
            {
                _item = r;
                _state = RequestState.Done();
                StateHasChanged();
            });
    }
    
    private Type GetViewIconType(AssessmentType assessmentType) => assessmentType switch
    {
        AssessmentType.Individual => typeof(GridHorizontalIcon),
        _ => typeof(GridDividersIcon)
    };

    private async Task ChangeView(AssessmentType assessmentType, string url)
    {
        _currentView = assessmentType;
        
        await JsRuntime.Execute(JsFunctions.ChangeUrl(url));
    }

    private string CreateViewLink(AssessmentType assessmentType)
    {
        var view = assessmentType.ToString().ToLowerInvariant();
        
        return LinkBuilder.Build($"assessment-session/{Id:N}/{view}");
    }

    private string ViewControlCss(AssessmentType assessmentType)
    {
        return assessmentType == _currentView ? "view-controls__item_active" : string.Empty;
    }
    
    public async ValueTask DisposeAsync()
    {
        if (_eventsProvider is not null)
            await _eventsProvider.DisposeAsync();
    }
}